
.title{
    font-family: 'Start2P';
    color: #41DDA5;
    text-transform: uppercase;
    text-shadow: '3px 4px 3px rgba(0, 0, 0, 0.3)';
}
  
/* - - - - - FONTS - - - - - */
@font-face {
    font-family: 'Commissioner';
    src: url(/fonts/Commissioner-Regular.ttf);
}
@font-face {
    font-family: 'Start2P';
    src: url(/fonts/PressStart2P-Regular.ttf);
}